<nav>
    <ol>
        <li>
            <a href="#section-1">Lorem</a>
        </li>
        <li>
            <a href="#section-2">Ipsum</a>
        </li>
        <li>
            <a href="#section-3">Amit</a>
        </li>
        <li>
            <a href="#section-4">Sit Dolor</a>
        </li>
    </ol>
    <img src="http://placehold.it/150x150">
</nav>
