<nav>
    <ol>
        <li>
            <a href="#section-1">Gerald George Ryan</a>
        </li>
        <li>
            <a href="#section-3">Marko's</a>
        </li>
        <li>
            <a href="#section-2">Animal Rights</a>
        </li>
        <li>
            <a href="#section-4">Writings</a>
        </li>
        <li>
            <a href="#section-5">Donate</a>
        </li>
    </ol>
    <div class="signet">
        <img src="/img/head-shot.jpg" alt="Jerry Ryan">
    </div>
</nav>
