html *{
    box-sizing: border-box;
}

body{
    color: #342E1C;
    font: 18px/2 "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: #091023;
}

nav{
    background: #FFF;
    border-bottom: 2px solid #333;
    height: 100px;
    line-height: 50px;
    padding: 0.5em 5% 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ol{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    flex: 1 0 auto;
    height: 100%;
    text-align: center;
}

nav a{
    color: #2F4172;
    font-size: 16px;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: underline;
}

nav .signet{
    background-color: #FFF;
    border: 1px solid;
    border-radius: 20% 20% 50% 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.25em;
    bottom: calc(75px / -2);
    height: 75px;
    left: calc(50% - (75px/2));
    position: absolute;
    width: 75px;
}

nav img{
    border: 1px solid;
    border-radius: 20% 20% 50% 50%;
    height: auto;
    width: 100%;
}

main{
    padding-top: 75px;
}

main h1{
    column-span: all;
    font-family: "Georgia", serif;
    margin-top: 0;
}

main section{
    columns: 4;
    margin: 0 15%;
    padding: 2.5em 5em;
    position: relative;
}

main :nth-of-type(1n){
    margin-top: 0;
}

main section + section::before{
    background: linear-gradient(to bottom, #091023 10%, transparent);
    content: "";
    height: 0.15em;
    left: 15%;
    position: absolute;
    top: 0;
    width: 70%
}

.collage{
    height: 600px;
    columns: 4 120px;
    column-gap: 0.25em;
    margin: 0;
}

.collage img{
    display: block;
    height: auto;
    margin-bottom: 0.25em;
    width: 100%;
}
