<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <main>
        <section class="collage">
            <img src="/img/3.jpg">
            <img src="/img/4.jpg">
            <img src="/img/5.jpg">
            <img src="/img/6.jpg">
            <img src="/img/IMG_1087.JPG">
            <img src="/img/IMG_1088.JPG">
            <img src="/img/IMG_1161.JPG">
            <img src="/img/IMG_1341.JPG">
        </section>
        <section>
            <h1 id="section-1">Lorem</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id venenatis eros. Quisque convallis iaculis risus, id dignissim lorem efficitur sed. Morbi sagittis est elit, vitae hendrerit nunc malesuada sed. Nullam at eros magna. Phasellus scelerisque iaculis diam, sit amet imperdiet eros convallis vitae. Suspendisse pretium egestas urna. Quisque rhoncus congue justo, vitae rhoncus arcu ornare nec. Aliquam molestie, metus sed dictum mollis, nulla metus dapibus magna, sed fermentum mauris felis a neque. Nulla in justo elit.
            <p>Curabitur vel purus porta arcu mollis sagittis id vitae tellus. Maecenas iaculis, nulla eget aliquet ultricies, ante tortor ultrices ipsum, at ultrices ligula urna in ex. Donec euismod dui at quam varius lacinia. Curabitur nec semper elit. Quisque non interdum sem. Etiam non dapibus odio. Integer ac ipsum elementum, accumsan urna quis, tincidunt sem.
        </section>
        <section>
            <h1 id="section-2">Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id venenatis eros. Quisque convallis iaculis risus, id dignissim lorem efficitur sed. Morbi sagittis est elit, vitae hendrerit nunc malesuada sed. Nullam at eros magna. Phasellus scelerisque iaculis diam, sit amet imperdiet eros convallis vitae. Suspendisse pretium egestas urna. Quisque rhoncus congue justo, vitae rhoncus arcu ornare nec. Aliquam molestie, metus sed dictum mollis, nulla metus dapibus magna, sed fermentum mauris felis a neque. Nulla in justo elit.
            <p>Curabitur vel purus porta arcu mollis sagittis id vitae tellus. Maecenas iaculis, nulla eget aliquet ultricies, ante tortor ultrices ipsum, at ultrices ligula urna in ex. Donec euismod dui at quam varius lacinia. Curabitur nec semper elit. Quisque non interdum sem. Etiam non dapibus odio. Integer ac ipsum elementum, accumsan urna quis, tincidunt sem.
        </section>
        <section>
            <h1 id="section-3">Amit</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id venenatis eros. Quisque convallis iaculis risus, id dignissim lorem efficitur sed. Morbi sagittis est elit, vitae hendrerit nunc malesuada sed. Nullam at eros magna. Phasellus scelerisque iaculis diam, sit amet imperdiet eros convallis vitae. Suspendisse pretium egestas urna. Quisque rhoncus congue justo, vitae rhoncus arcu ornare nec. Aliquam molestie, metus sed dictum mollis, nulla metus dapibus magna, sed fermentum mauris felis a neque. Nulla in justo elit.
            <p>Curabitur vel purus porta arcu mollis sagittis id vitae tellus. Maecenas iaculis, nulla eget aliquet ultricies, ante tortor ultrices ipsum, at ultrices ligula urna in ex. Donec euismod dui at quam varius lacinia. Curabitur nec semper elit. Quisque non interdum sem. Etiam non dapibus odio. Integer ac ipsum elementum, accumsan urna quis, tincidunt sem.
        </section>
        <section>
            <h1 id="section-4">Sit dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id venenatis eros. Quisque convallis iaculis risus, id dignissim lorem efficitur sed. Morbi sagittis est elit, vitae hendrerit nunc malesuada sed. Nullam at eros magna. Phasellus scelerisque iaculis diam, sit amet imperdiet eros convallis vitae. Suspendisse pretium egestas urna. Quisque rhoncus congue justo, vitae rhoncus arcu ornare nec. Aliquam molestie, metus sed dictum mollis, nulla metus dapibus magna, sed fermentum mauris felis a neque. Nulla in justo elit.
            <p>Curabitur vel purus porta arcu mollis sagittis id vitae tellus. Maecenas iaculis, nulla eget aliquet ultricies, ante tortor ultrices ipsum, at ultrices ligula urna in ex. Donec euismod dui at quam varius lacinia. Curabitur nec semper elit. Quisque non interdum sem. Etiam non dapibus odio. Integer ac ipsum elementum, accumsan urna quis, tincidunt sem.
        </section>
    </main>
<script>
    var $img = document.querySelectorAll('.collage img');
    Array.prototype.slice.apply($img).forEach(function(item){
        var rotation = Math.round(Math.random() * 15) + 5;
        var offset = Math.round(Math.random() * 2) < 2 ? -1 : 1;
        item.style.transform = 'rotate(' + (rotation * offset) + 'deg)';
    });
</script>
</body>
</html>
